
*.xcuserstate

AMJBluetoothDemo/blueToothTest.xcodeproj/project.xcworkspace/xcuserdata/pzs.xcuserdatad/UserInterfaceState.xcuserstate

AMJBluetoothDemo/blueToothTest.xcodeproj/xcuserdata/pzs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
